<div class="text-center-mt-3">
    <h2>Your matches - {{pagination?.totalItems}} found</h2>
</div>

<form #form="ngForm" class="flex-form" (ngSubmit)="loadMembers()" autocomplete="off">
    <div class="flex-div">
        <label>Age from:</label>
        <input type="number" class="form-control ml-2" style="width: 70px;" name="minAge"
            [(ngModel)]="userParams.minAge">
    </div>

    <div class="flex-div">
        <label>Age to: </label>
        <input type="number" class="form-control ml-2" style="width: 70px;" name="maxAge" [(ngModel)]="userParams.maxAge">
    </div>

    <div class="flex-div">
        <label>Show: </label>
        <select style="width: 140px" class="form-control ml-1" [(ngModel)]="userParams.gender" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let gender of genderList" [value]="gender.value">
                {{gender.display}}
            </option>
        </select>
    </div>

    <button class="btn btn-primary flex-div mt-4" type="submit">Apply filters</button>
    <button (click)="resetFilters()" class="btn btn-info flex-div mt-4" type="submit">Reset filters</button>

    <div class="btn-group float-right flex-div mt-4">
        <button 
            type="button"
            class="btn btn-primary" 
            name="orderBy" 
            [(ngModel)]="userParams.orderBy"
            (click)="loadMembers()"
            btnRadio="lastActive"> 
            Last Active 
        </button>
        <button 
            type="button"
            class="btn btn-primary" 
            name="orderBy" 
            [(ngModel)]="userParams.orderBy"
            (click)="loadMembers()"
            btnRadio="created"> 
            Newest Members     
        </button>            
    </div>
</form>

<div class="row">
    <div *ngFor="let member of members" class="col-2">
        <app-member-card [member]=member></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)" 
        previousText="&lsaquo;"
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>