.card {
    border: none;
    padding-bottom: 25px;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b3a9a9;
}

.rounded-circle {
    max-height: 50px;
}

.inline-div {
    display: inline-block;
}

.chat-img {
    display: block;
    float: right;
}

.form-footer {
    width: 90%;
    align-self: center;
}

.input-sm {
    width: 89.7%;
    display: inline-flex;
    align-self: center;
    margin-right: 0.3%;
}

.btn-footer {
    width: 10%;
    align-self: center;
}